/* Variables */
:root {
    --basic-black: #000000;
    /* menu-top background color*/
    --basic-extra-dark: #293449;
    /* font color */
    --basic-dark: #32425C;
    /* profile icons color*/
    --basic-ligth-grey: #C5C5C5;
    /* background body color */
    --basic-background-grey: #F2F2F2;
    --basic-green: #63A63E;
    --basic-bright-green: #5FBB2D;
    --basic-white: #ffffff;
    --basic-red: #EE3643;
    --basic-just-red: #CA2C37;
    --basic-dark-red: #BA2732;
    --basic-grey: #3D546F;
    /* header icon color*/
    --basic-ligth-blue: #F3F7F9;
    --basic-ligther-blue: #F2F6F8;
    /*header background color*/
    --basic-blue: #EAEAEA;
    --basic-dark-grey: #161D29;
    --basic-warm-sand: #F9F5F0;
    --basic-maus-grey: #A9A9A9;
    --basic-very-dark-blue: #405069;
    --basic-light-orange: #FFD180;
    --basic-light-grayish-blue: #F1F5F7;
    --basic-dark-dark-blue: #212A3A;
    --basic-light-grayish-orange: #f7f3ec;
    /* promo box */
    --special-orange: #FFBF47;
    --special-blue: #3BBCE3;
    --special-purple: #DC91D8;
    --special-mint: #8ED78F;

}

/* Global */

body {
    background-color: var(--basic-background-grey);
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    /*font-family: 'PT Sans',
sans-serif;*/
    font-style: normal;
    font-weight: normal;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

}

.page {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
}

.pop-up {
    display: none;
}

/* Grid */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* */
header {
    font-size: 18px;
    line-height: 24px;
    background: var(--basic-ligth-blue);
}

.header-top {
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
}

.header-top a,
.header-nav a {
    color: var(--basic-white);
}

.header-middle a {
    color: var(--basic-black);
}

.header-top .container {
    position: relative;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    background-color: var(--basic-red);
}

.footer-top-logo:active,
.header-top-logo:active {
    background: var(--basic-dark-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24)
}

.header-top-order-go {
    display: flex;
    width: 150px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: var(--basic-green);
}

.header-top-order-go:hover {
    background: var(--basic-bright-green);
}

.header-top-order-go:active a {
    opacity: 0.5;
}

.header-top-search {
    width: 270px;
    height: 42px;
    box-sizing: border-box;

}

.header-top-search form {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.header-top-search input {
    background-color: var(--basic-extra-dark);
    border: none;
    outline: none;
    width: 100%;
    height: 42px;
    padding: 0;
    margin: 0;
}

.header-top-search input::placeholder {
    padding-left: 42px;
    color: var(--basic-white);
}

.header-top-search input:focus {
    padding: 0;
    margin: 0;
    padding-left: 42px;
    width: 100%;
    height: 42px;
    border: none;
    outline: n;
    background-color: var(--basic-white);
    font-family: Cuprum;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.header-top-search .icon-search {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 17px;
    opacity: 0.3;
}

.icon-search path {
    fill: var(--basic-white)
}

.header-top-search input:focus .icon-search path {
    fill: var(--basic-red);
    opacity: 1;
}


.header-top-bookmark,
.header-top-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 42px;
}


.header-top-bookmark::before {
    content: "";
    width: 14px;
    height: 16px;
    background: url("../img/icon-bookmark.svg") no-repeat center;
    opacity: 0.3;
    margin-right: 9px;
}

.header-top-bookmark:hover::before {
    opacity: 1;
}

.header-top-bookmark:active {
    opacity: 0.3;
    background: var(--basic-dark-grey);
}

.header-top-bookmark span,
.header-top-basket span {
    margin-left: 6px;
}

.header-top-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../img/icon-cart.svg) no-repeat center;
    opacity: 0.3;
    margin-right: 8px;
}

.header-top-basket:hover::before {
    opacity: 1;
}

.header-top-basket:active {
    opacity: 0.3;
    background: var(--basic-dark-grey);
}

.basket-full {
    background: var(--basic-red);
}

.basket-full:active {
    background: var(--basic-dark-red);
}

.basket-full:hover {
    background: var(--basic-dark-red);
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 158px;

}

.header-middle-description {
    margin-left: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.header-middle-contact-info {
    margin-left: 93px;
}

.header-middle-phone {
    width: 270px;
    height: 45px;
    border: 3px solid var(--basic-white);
    box-sizing: border-box;
    color: var(--basic-red);
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-middle-phone::before {
    content: "";
    width: 19px;
    height: 19px;
    background: url(../img/icon-phone.svg) no-repeat 40px center;
    padding-right: 16px;
    padding-left: 39px;
}

.header-middle-adress {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--basic-dark);
}

.login {
    width: 121px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--basic-black);
    background: var(--basic-white);
    margin-left: 69px;
    margin-bottom: 20px;
}

.login a svg {
    margin-right: 6px;
}

.login:hover a,
.registration:hover a {
    color: var(--basic-red)
}

.login:active a,
.registration:active a {
    color: var(--basic-ligth-grey)
}

.login:hover a svg path {
    fill: var(--basic-grey);
}

.login:active a svg path {
    fill: var(--basic-ligth-grey);
}

.registration {
    width: 150px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--basic-black);
    background: var(--basic-white);
    margin-left: 10px;
    margin-bottom: 20px;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-user {
    width: 242px;
    height: 45px;
    position: relative;
    font-size: 21px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--basic-black);
    background: var(--basic-white);
    margin-left: 10px;
    padding-right: 57px;
}

.logout {
    position: absolute;
    right: 17px;
    top: 14px;
    width: 20px;
    height: 18px;
    background: var(--basic-white);
    margin-left: 20px;
}

.profile-user-icon {
    position: absolute;
    left: 13px;
    top: 15px;
    width: 20px;
    height: 18px;
    background: var(--basic-white);
    padding-right: 21px;
}

.profile-link {
    display: flex;
    width: 210px;
    justify-content: space-between;
    margin-top: 7px;
    position: relative;
}


.profile-link a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-dark);
}

.profile-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 90px;
    width: 4px;
    height: 4px;
    background-color: var(--basic-dark);
    border-radius: 50%;
}


.profile:hover a svg path {
    fill: var(--basic-grey);
}

.profile:active a svg path {
    fill: var(--basic-ligth-grey);
}

.profile:hover .profile-link a {
    color: var(--basic-red);
}

.profile:active .profile-link a {
    color: var(--basic-ligth-grey);
}

.profile:active .profile-user {
    color: var(--basic-ligth-grey);
}

.profile:hover .profile-link::after {
    background: var(--basic-red);
}

.profile:active .profile-link::after {
    background: var(--basic-ligth-grey);
}


.header-nav {
    background-color: var(--basic-dark);
    box-shadow: inset 0px -5px 0px var(--basic-extra-dark);
    margin-bottom: 60px;
}

.header-nav a:hover {
    background-color: var(--basic-extra-dark);
}

header ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 24px;

}

header li {
    list-style: none;
}

/* */
main {
    background-color: var(--basic-white);
}

.category {
    margin-top: 59px;
    margin-bottom: 59px;
}

.category .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;


}

.promo-menu {
    margin: 0;
    padding: 0;
    grid-row: 1/2;
    grid-column: 1/4;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.promo-action {
    margin: 0;
    grid-row: 2/4;
    grid-column: 3/4;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
}


.promo-menu li,
.promo-action li {
    padding-left: 22px;
    padding-top: 20px;
    position: relative;
    list-style: none;
    width: 278px;
    height: 103px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.orange:first-child {
    background: var(--special-orange) url('../img/icon-1.svg') no-repeat 85% 55%;
}

.blue {
    background: var(--special-blue) url('../img/icon-2.svg') no-repeat 85% 55%;
}

.berry {
    background: var(--special-purple) url('../img/icon-3.svg') no-repeat 85% 55%;
}

.green {
    background: var(--special-mint) url('../img/icon-4.svg') no-repeat 85% 55%;
}

.orange:last-child {
    background: var(--special-orange) url('../img/icon-5.svg') no-repeat 85% 55%;
}

.promo-menu li a,
.promo-action li a {
    position: absolute;
    left: 22px;
    bottom: 21px;
    width: 135px;
    height: 38px;
    background: rgba(255, 255, 255, 0.3);
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
}

.promo-menu li a:hover,
.promo-action li a:hover {
    background: rgba(197, 197, 197, 0.3);
}

.promo-menu li a:active,
.promo-action li a:active {
    background: rgba(169, 169, 169, 0.3);
}

.new {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.new::after {
    content: "new";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--basic-red);
    width: 100px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 7px;
    right: -25px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    transform: rotate(45deg);
    color: var(--basic-white);
}

.slider {
    position: relative;
    grid-column: 1/3;
    grid-row: 2/4;
}

.slider::before {
    content: "";
    background: url(../img/icon-left.svg) no-repeat center;
    position: absolute;
    left: 5px;
    top: 8px;
    cursor: pointer;
    width: 60px;
    height: 266px;
    z-index: 300;
}

.slider::after {
    content: "";
    background: url(../img/icon-right.svg) no-repeat center;
    position: absolute;
    right: -40px;
    bottom: -8px;
    width: 60px;
    height: 266px;
    z-index: 300;
    cursor: pointer;
}





.slide {
    position: relative;
    display: none;
    width: 620px;
    height: 266px;
}

.active {
    display: block;
}

.slide img {
    width: 100%;
}

.slide-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 104px;
    background: rgba(0, 0, 0, 0.25);
    color: var(--basic-white);
}

.slide-title {
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slide-slogan {
    padding: 0;
    margin: 0;
    margin-left: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.slide .button {
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 192px;
    height: 38px;
    background: var(--basic-red);
    color: var(--basic-white);
    margin-left: 24px;
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 53px;
    width: 620px;
    height: 0;
    display: flex;
    justify-content: center;

}

.indicator {
    display: block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin: 6px;
    background-color: var(--basic-white);
    cursor: pointer;
    z-index: 200;
}

.indicator-active {
    background: var(--basic-red);
    border: 2px solid var(--basic-white);
    width: 6px;
    height: 6px;
}

.slide .button:active {
    background-color: var(--basic-dark-red);
}

.slide .button:hover {
    background-color: var(--basic-just-red);
}

main .goods {
    margin-bottom: 70px;
}

.goods .container {}

.goods-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--basic-warm-sand);
}

.goods-title h2 {
    margin-top: 29px;
    margin-left: 28px;
    margin-bottom: 30px;
    color: var(--basic-dark);

}

.goods-title a {
    width: 192px;
    height: 38px;
    margin-right: 14px;
    background: var(--basic-red);
    color: var(--basic-white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}

.goods-list {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods-item {
    display: flex;
    list-style: none;
    width: 220px;
    min-height: 318px;
    position: relative;
    background: var(--basic-white);
    border: 1px solid var(--basic-blue);
    box-sizing: border-box;
}

.goods-item:hover .goods-item-button {
    display: flex;

}

.goods-item-button:hover .goods-item-image img {
    display: none;
}

.goods-item a,
.goods-item-image,
.goods-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goods-item a:hover .goods-item-image img {
    display: none;
}

.goods-item a:hover .goods-item-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goods-item-button-basket {
    width: 135px;
    height: 38px;
    background: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.goods-item-button-basket span {
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding-left: 32px;
}

.goods-item-button-basket span::before {
    content: "";
    display: flex;
    width: 32px;
    height: 38px;
    background: url("../img/icon-cart.svg") no-repeat center;
    opacity: 0.3;
}

.goods-item-image {
    width: 100%;
}

.goods-item img {
    width: fit-content;
    display: flex;
}

.goods-item-info {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 18px;
}

.goods-item-info h3 {
    text-transform: none;
}

.goods-item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 141px;
    height: 38px;
    background-color: var(--basic-red);
    margin-bottom: 20px;
    color: var(--basic-white);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 12px;

}

.goods-item-price::before {
    content: "";
    width: 33px;
    height: 33px;
    background-color: var(--basic-white);
    transform: rotate(45deg);
    position: absolute;
    top: -18px;
    right: -19px;
}

.goods-item-price::after {
    content: "";
    width: 33px;
    height: 33px;
    background-color: var(--basic-white);
    transform: rotate(45deg);
    position: absolute;
    bottom: -18px;
    right: -19px;
}

.goods-item-price-old {
    position: absolute;
    bottom: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-maus-grey);
}

.goods-item-title {
    text-align: center;
    margin: 5px 17px 39px 17px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: var(--basic-black);
}

.brands {}

.brands .container {
    margin-bottom: 70px;
}

.brands-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-warm-sand);
    margin-bottom: 20px;
}

.brands-title h2 {
    margin-top: 29px;
    margin-left: 28px;
    margin-bottom: 30px;
    color: var(--basic-dark);
}

.brands-title a {
    width: 192px;
    height: 38px;
    margin-right: 19px;
    background: var(--basic-red);
    color: var(--basic-white);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
}

.brands-title a:active,
.goods-title a:active {
    background-color: var(--basic-dark-red);
}

.brands-title a:hover,
.goods-title a:hover {
    background-color: var(--basic-just-red);
}



.brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.brands-list li {
    list-style: none;
}

.brands-list li a img {
    width: auto;
}

.brands-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    background: var(--basic-white);
    border: 1px solid var(--basic-blue);
    box-sizing: border-box;
}

.brands-list li a:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brands-list li a:active {
    opacity: 0.5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.services {
    background-color: var(--basic-light-grayish-blue);
    padding-top: 64px;
}

.services .container {
    display: grid;
    grid-template-columns: 240px 1fr
}

.services-title {
    grid-column: 1/3;
    margin-bottom: 70px;
}

.services-title h2 {
    margin-bottom: 25px;
}

.services-title p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.services-list {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 100px;
}

.services-list::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    right: 0;
    bottom: -25%;
    background: url('../img/border-tab.png');
    /*opacity: 0.25;*/
}

.services-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab {
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
    text-transform: none;
    margin-bottom: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 218px;
    height: 61px;
    background: var(--basic-dark);
    box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-very-dark-blue);
    color: var(--basic-white);
    padding-left: 22px;
    margin-bottom: 1px;
}

.services-list .tab-active {
    background: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
    color: var(--basic-dark);
}

.services-slides {
    display: flex;
    width: 620px;
    margin-left: 80px;
}

.services-slides p {
    width: 280px;
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.services-slides .services-slides-title {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-dark);
}

.slides .button {
    position: absolute;
    bottom: 115px;
    left: 0;
    width: 195px;
    height: 38px;
    background: var(--basic-red);
    color: var(--basic-white);
    line-height: 18px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.slides .button:active {
    background-color: var(--basic-dark-red);
}

.slides .button:hover {
    background-color: var(--basic-just-red);
}


.services-slides .slides {
    display: none;
    width: 619px;
    position: relative;
}

.services-slides .slide-active {
    display: block;
}

.services-slides img {
    position: absolute;
    right: 0;
    top: 22px;
}

.delivery h2 {
    margin-bottom: 24px;
    font-weight: 300;
}

.delivery p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.delivery h2 + p {
    margin-bottom: 26px;
}

.about p {
    width: 478px;
    font-family: 'PT Sans', sans-serif;
}

.about ul {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 2px;
}

.about li {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    position: relative;
    padding-left: 37px;
}

.about li:last-child {
    margin-bottom: 0px;
}

.about li::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    margin-right: 12px;
}

.map p {
    width: 181px;
    font-family: 'PT Sans', sans-serif;
}

.map img {
    width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 0px;
}

.delivery .button {
    width: 220px;
    height: 38px;
    background: var(--basic-red);
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    font-size: 14px;
    line-height: 38px;
}

.delivery .button:active {
    background-color: var(--basic-dark-red);
}

.delivery .button:hover {
    background-color: var(--basic-just-red);
}

.map .button {
    width: 300px;
    margin-top: 20px;
}

.map .button:active {
    background-color: var(--basic-dark-red);
}

.map .button:hover {
    background-color: var(--basic-just-red);
}

.delivery .container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

/**/
footer {
    display: grid;
    grid-template-rows: min-content min-content;
    color: var(--basic-white);
}


.footer-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 65px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    background-color: var(--basic-red);
}

.footer-top {
    margin: 0;
    padding: 0;
    background-color: var(--basic-dark);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-top .container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr;
}

.footer-top-adress {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-bottom: 55px;
    margin-left: 3px;
    margin-top: 91px;

    color: var(--basic-ligth-blue);
}

.footer-top-menu {
    margin: 0;
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 37px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}



.footer-top-category li a {
    color: var(--basic-light-orange);
}

.footer-top-category li a:active {
    color: rgba(255, 209, 128, 0.5);
}

.footer-top-menu li a:active {
    color: rgba(241, 245, 247, 0.5);
}

.footer-top-category li a:hover,
.footer-top-menu li a:hover {
    text-decoration: underline;
}


footer li {
    list-style: none;
}

.footer-top-menu li a {
    color: var(--basic-light-grayish-blue);
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer-bottom {
    margin: 0;
    padding: 0;
    background-color: var(--basic-extra-dark);
    height: 108px;
}

.footer-bottom .container {
    display: flex;
    height: 108px;
    align-items: center;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom-society {
    margin-left: 161px;
    margin-right: 118px;
    display: flex;
    align-items: center;
}

.footer-bottom-society a {
    display: flex;
    justify-content: center;
    margin-right: 1px;
    width: 44px;
    height: 44px;
    background: var(--basic-dark-dark-blue);
    border-radius: 50%;
}

.footer-bottom-society a:hover,
.footer-bottom-society a:active {
    background: var(--basic-red);
}

.footer-bottom-etc {
    margin-right: 51px;
}

.footer-bottom-etc a,
.footer-bottom-etc1 a {
    color: var(--basic-light-orange);
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom-etc a:hover,
.footer-bottom-etc1 a:hover {
    text-decoration: underline;
}

.footer-bottom-etc a:active,
.footer-bottom-etc1 a:active {
    color: var(--basic-red);
    text-decoration: none;
}

.map a {
    line-height: 0px;
}

/* Сatalog page */

.breadcrumbs {
    grid-column: 1/3;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 21px;
    margin-bottom: 20px;
}

.breadcrumbs li {
    list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
    content: "";
    width: 8px;
    height: 12px;
    display: inline-block;
    background: url('../img/icon-right-small.svg') no-repeat center;
    padding-left: 15px;
    padding-right: 17px;
}

.breadcrumbs a {
    text-transform: uppercase;
    color: var(--basic-black);
}

.catalog-title {
    grid-column: 1/3;
    padding-top: 29px;
    padding-left: 29px;
    padding-bottom: 30px;
    color: var(--basic-dark);
    background: var(--basic-ligther-blue);
}

.catalog-grid {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 220px 700px;
    gap: 21px;
}

.filter {
    grid-row: 3/6;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter h3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    background: var(--basic-light-grayish-orange);
    padding-left: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 19px;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    color: var(--special);
}

.sorter {
    display: flex;
    align-items: center;
    background: var(--basic-light-grayish-orange);
    height: 38px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.sorter h3 {
    margin: 0;
    padding: 0;
    margin-left: 19px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.sorter span {
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
}

.sorter-active {
    text-decoration: none;
    text-decoration-style: none;
}

.category-description {
    grid-column: 1/3;
}

.pagination {
    display: flex;
}

.catalog .goods-list {
    grid-template-columns: 1fr 1fr 1fr;
}

.catalog {
    font-family: 'PT Sans', sans-serif;
}



.tab:last-child {
    margin-bottom: 0;
}

.header-top a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-top-logo a {
    height: 23px;
}

.footer-top-category {
    margin-left: 64px;
    display: flex;
    justify-content: space-between;
}

.header-nav a {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.header-nav a:active {
    background-color: var(--basic-extra-dark);
    color: rgba(255, 255, 255, 0.5);
}

#search-form label:active input {
    display: flex;
}

.tab:hover {
    background: var(--basic-extra-dark);
    box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--basic-very-dark-blue);
    color: var(--basic-white);
}

.goods-item-button {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 38px;
    padding-left: 41px;
    padding-right: 44px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-button {
    background: #63A63E;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}
