/* Variables */
:root {
    --basic-black: #000000;
    --basic-extra-dark: #293449;
    /* menu-top background color*/
    --basic-dark: #32425C;
    /* font color */
    --basic-ligth-grey: #C5C5C5;
    /* profile icons color*/
    --basic-green: #63A63E;
    --basic-white: #ffffff;
    --basic-red: #EE3643;
    --basic-grey: #B7BFC8;
    /* header icon color*/
    --basic-ligth-blue: #F3F7F9;
    /*header background color*/
    --basic-ligth-blue: #EAEAEA;

    --special: #;
}

/* Global */

body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

.page {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* */
header {
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
    font-size: 18px;
    line-height: 24px;
}

.header-top {
    color: white;
    background-color: #293449;

}

.header-top .container {
    position: relative;
    height: 42px;
    display: flex;
    justify-content: space-between;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
    align-items: center;
}

.footer-top-logo,
.header-top-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    background: #EE3643 url("../img/logo-technomart.svg") no-repeat center center;
    ;
}

.header-top-order-go {
    display: flex;
    width: 150px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: var(--basic-green);
}

.header-top a,
.header-nav a {
    color: white;
}

.header-top-search {
    margin-left: 220px;
}

#search-form label {
    margin-left: 17px;
}

#search-form label::before {
    content: "";
    width: 17px;
    background: url("../img/icon-search.svg") no-repeat;
    padding-left: 17px;
    padding-right: 8px;
}

.header-top-search input {
    display: none;
}

.header-top-bookmark {}

.header-top-bookmark span {}

.header-top-basket {}

.header-top-basket span {}

.header-top-order-go {}

header .container {}

header .header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-middle-description {}

header br {}

header .header-middle-phone {}

header .header-middle-adress {}

header .login {}

header .registration {}

header .header-nav {
    padding-top: 18px;
    background-color: #32425C;
    height: 52px;
    margin-bottom: 60px;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
}

/* */
main {
    background-color: #FFFFFF;
}

main .category {}

main .category .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);

}

.promo {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.promo li {
    position: relative;
    list-style: none;
    width: 300px;
    height: 123px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.orange {
    background: #FFBF47;
}

.blue {
    background: #3BBCE3;
}

.berry {
    background: #DC91D8;

}

.green {
    background: #8ED78F;
    grid-row: 2/3;
    grid-column: 3/4
}

.orange:last-child {
    grid-row: 3/4;
    grid-column: 3/4
}

.promo li a {
    position: absolute;
    left: 23px;
    bottom: 21px;
    width: 135px;
    height: 38px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.slider {
    grid-column: 1/3;
    grid-row: 2/3;
}

.slide {
    position: relative;
    display: none;
    width: 620px;
    height: 266px;
}

.active {
    display: block;
}

.slide img {
    width: 100%;
}

.slide-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 104px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
}

.slide-title {
    margin-top: 23px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slide p {
    margin-left: 24px;
}

.slide a {
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 192px;
    height: 38px;
    background: #EE3643;
    color: white;
    margin-left: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

main .goods {}

.goods .container {

    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

.goods-title {
    display: flex;
    justify-content: space-between
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.goods-list li {
    list-style: none;
}

main .brands {}

main .brands .container {
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

.brands-title {
    display: flex;
    justify-content: space-between
}

.brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.brands-list li {
    list-style: none;
}

main .services {}

main .services .container {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.services-title {
    grid-column: 1/3;
}

.services-slides .slides {
    display: none;
}

.services-slides .active {
    display: block;
}

main .delivery {}

main .delivery .container {

    display: grid;
    grid-template-columns: 1fr 1fr
}

/**/
footer {
    display: grid;
    grid-template-rows: min-content min-content;
    color: white;
}

footer .footer-top {
    margin: 0;
    padding: 0;
    background-color: #32425C;

}

footer .footer-top .container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr;
}

footer address {
    grid-column: 1/2;
}

.footer-top-menu {
    grid-column: -1/2;
    grid-row: 1/2
}

footer li {
    padding: 10px;
    list-style: none;

}

footer li a {
    color: white;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

footer .footer-bottom {
    margin: 0;
    padding: 0;
    background-color: #293449;
}

footer .footer-bottom .container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: baseline;
}
