/* Variables */
:root {
    --basic-black: #000000;
    --basic-extra-dark: #293449;
    /* menu-top background color*/
    --basic-dark: #32425C;
    /* font color */
    --basic-ligth-grey: #C5C5C5;
    /* profile icons color*/
    --basic-green: #63A63E;
    --basic-bright-green: #5FBB2D;
    --basic-white: #ffffff;
    --basic-red: #EE3643;
    --basic-dark-red: #BA2732;
    --basic-grey: #3D546F;
    /* header icon color*/
    --basic-ligth-blue: #F3F7F9;
    /*header background color*/
    --basic-blue: #EAEAEA;
    --basic-greylight: #C5C5C5;

}

/* Global */

body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;
    /*font-family: 'PT Sans', sans-serif;*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

.page {
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

/* Grid */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

/* */
header {
    font-size: 18px;
    line-height: 24px;
    background: #F3F7F9;
}

.header-top {
    color: var(--basic-white);
    background-color: #293449;

}

.header-top a,
.header-nav a {
    color: var(--basic-white);
}

.header-middle a {
    color: var(--basic-black);
}

.header-top .container {
    position: relative;
    height: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-top-logo,
.header-top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 10px;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    background-color: var(--basic-red);
}

.footer-top-logo:active,
.header-top-logo:active {
    background: #BA2732;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24)
}

.header-top-order-go {
    display: flex;
    width: 150px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background: var(--basic-green);
}

.header-top-order-go:hover {
    background: var(--basic-bright-green);
}

.header-top-order-go:active a {
    opacity: 0.5;
}



.header-top-search form {
    display: flex;
    width: 271px;
}

#search-form label {
    margin-left: 17px;
    display: block;
}

#search-form label::before {
    content: "";
    display: block;
    width: 33px;
    height: 42px;
    background: url("../img/icon-search.svg") no-repeat center;
    opacity: 0.3;
}

#search-form label:hover::before {
    opacity: 1;
}

#search-form label:active {
    opacity: 0.3;
}

.header-top-search input {
    display: none;
}

.header-top-search input {
    display: none;
}

.header-top-bookmark,
.header-top-basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 42px;
}

.header-top-bookmark::before {
    content: "";
    width: 32px;
    height: 42px;
    background: url("../img/icon-bookmark.svg") no-repeat center;
    opacity: 0.3;
}

.header-top-bookmark:hover::before {
    opacity: 1;
}

.header-top-bookmark:active {
    opacity: 0.3;
    background: #161D29;
}

.header-top-bookmark span,
.header-top-basket span {
    margin-left: 6px;
}

.header-top-basket::before {
    content: "";
    width: 32px;
    height: 42px;
    background: url("../img/icon-cart.svg") no-repeat center;
    opacity: 0.3;
}

.header-top-basket:hover::before {
    opacity: 1;
}

.header-top-basket:active {
    opacity: 0.3;
    background: #161D29;
}

header .header-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 40px;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 0, 0.3);
}

header .header-middle-description {
    margin-left: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #EE3643;
}

.header-middle-contact-info {
    margin-left: 100px;
}

.header-middle-phone {
    width: 270px;
    height: 45px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: #EE3643;
    font-weight: bold;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-middle-phone::before {
    content: "";

    width: 19px;
    background: url("../img/icon-phone.svg") no-repeat;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-middle-adress {
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #32425C;
}

.login {
    width: 121px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: white;
    margin-left: 60px;
}

.login::before {
    content: "";
    width: 20px;
    background: url("../img/icon-login.svg");
    padding-right: 6px;

}

.login:hover a,
.registration:hover a {
    color: var(--basic-red)
}

.login:active a,
.registration:active a {
    color: var(--basic-ligth-grey)
}

.login:hover a svg path {
    fill: var(--basic-grey);
}

.login:active a svg path {
    fill: var(--basic-ligth-grey);
}

.registration {
    width: 150px;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: white;
    margin-left: 10px;
}

.header-nav {
    padding-top: 18px;
    background-color: #32425C;
    box-shadow: inset 0px -5px 0px #293449;
    padding-bottom: 18px;
    margin-bottom: 60px;
}

.header-nav a:hover {
    background-color: var(--basic-extra-dark);
}

header ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

}

header li {
    list-style: none;
}

/* */
main {
    background-color: #FFFFFF;
}

.category {
    margin-top: 59px;
    margin-bottom: 59px;
}

.category .container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    outline-offset: -5px;
    outline: 5px solid rgba(0, 0, 255, 0.3);

}

.promo-menu {
    margin: 0;
    padding: 0;
    grid-row: 1/2;
    grid-column: 1/4;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.promo-action {
    margin: 0;
    grid-row: 2/4;
    grid-column: 3/4;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
}


.promo-menu li,
.promo-action li {
    padding-left: 22px;
    padding-top: 20px;
    position: relative;
    list-style: none;
    width: 278px;
    height: 103px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.orange:first-child {
    background: #FFBF47 url('../img/icon-1.svg') no-repeat 85% 60%;
}

.blue {
    background: #3BBCE3 url('../img/icon-2.svg') no-repeat 85% 60%;
}

.berry {
    background: #DC91D8 url('../img/icon-3.svg') no-repeat 85% 60%;
}

.green {
    background: #8ED78F url('../img/icon-4.svg') no-repeat 85% 60%;
}

.orange:last-child {
    background: #FFBF47 url('../img/icon-5.svg') no-repeat 85% 60%;
}

.promo-menu li a,
.promo-action li a {
    position: absolute;
    left: 22px;
    bottom: 21px;
    width: 135px;
    height: 38px;
    background: rgba(255, 255, 255, 0.3);
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
}

.promo-menu li a:hover,
.promo-action li a:hover {
    background: rgba(197, 197, 197, 0.3);
}

.promo-menu li a:active,
.promo-action li a:active {
    background: rgba(169, 169, 169, 0.3);
}

.new {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.new::after {
    content: "new";
    display: flex;
    justify-content: center;
    background-color: #EE3643;
    width: 100px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 5px;
    right: -30px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    transform: rotate(45deg);
}

.slider {
    position: relative;
    grid-column: 1/3;
    grid-row: 2/4;
}

.slider::before {
    content: "";
    background: #eee0 url(../img/icon-left.svg) no-repeat center;
    position: absolute;

    width: 60px;
    height: 266px;
    z-index: 300;
}

.slider::after {
    content: "";
    background: #eee0 url(../img/icon-right.svg) no-repeat center;
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 60px;
    height: 266px;
    z-index: 300;
}

.slide-indicator {
    position: absolute;
}

.slide-indicator.active {}

.slide {
    position: relative;
    display: none;
    width: 620px;
    height: 266px;
}

.active {
    display: block;
}

.slide img {
    width: 100%;
}

.slide-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    height: 104px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
}

.slide-title {
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slide-slogan {
    padding: 0;
    margin: 0;
    margin-left: 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.slide .button {
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 192px;
    height: 38px;
    background: #EE3643;
    color: white;
    margin-left: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}


.slide .button:active {
    background-color: var(--basic-dark-red);
}

main .goods {}

.goods .container {

    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

.goods-title {
    display: flex;
    justify-content: space-between
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.goods-list li {
    list-style: none;
}

main .brands {}

main .brands .container {
    outline-offset: -5px;
    outline: 5px solid rgba(0, 255, 255, 0.3);
}

.brands-title {
    display: flex;
    justify-content: space-between
}

.brands-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.brands-list li {
    list-style: none;
}

main .services {}

main .services .container {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr
}

.services-title {
    grid-column: 1/3;
}

.services-slides .slides {
    display: none;
}

.services-slides .active {
    display: block;
}

main .delivery {}

main .delivery .container {

    display: grid;
    grid-template-columns: 1fr 1fr
}

/**/
footer {
    display: grid;
    grid-template-rows: min-content min-content;
    color: white;
}

footer .footer-top {
    margin: 0;
    padding: 0;
    background-color: #32425C;

}

footer .footer-top .container {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr;
}

footer address {
    grid-column: 1/2;
}

.footer-top-menu {
    grid-column: -1/2;
    grid-row: 1/2
}

footer li {
    padding: 10px;
    list-style: none;

}

footer li a {
    color: white;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

footer .footer-bottom {
    margin: 0;
    padding: 0;
    background-color: #293449;
}

footer .footer-bottom .container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: baseline;
}
